*,*::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0; /* remove default margin */
    padding: 0; /* remove default padding */ 
  }
  
  body {
    line-height: 1.5; /* Add accessible line-height */
    -webkit-font-smoothing: antialiased; /* Improve text rendering */
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  } /* avoid text overflow */
  
  html, body {
    height: 100%;
  } /* Allow percentage-based heights in the application */
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  } /* Improve media defaults */
  
  input, button, textarea, select {
    font: inherit;
  } /* Remove built-in form typography styles */
  
  #root, #__next {
      isolation: isolate;
  } /* Create a root stacking context */

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.125rem;

  text-align: center;
  padding-inline: auto;
}
:root {
  --fw-400: 400;
  --fw-600: 600;

  --bg-button-1: hsl(171, 66%, 44%);
  --bg-button-2: hsl(233, 100%, 69%);

  --clr-primary: hsl(210, 10%, 33%);
  --clr-secondary: hsl(201, 11%, 66%);
}
main {
  display: grid;
  margin: 4rem 0.795rem;
  row-gap: 10rem;
  max-width: 90rem;
}
.header-section,
.upper-section,
.computer-section,
.middle-section,
.features-section,
.logo-section,
.lower-download-section {
  display: grid;
  gap: 4rem;
}
header {
  display: grid;
  gap: 1rem;
  max-width: 34rem;
  margin-inline: auto;
}
.logo {
  margin-inline: auto;
  margin-bottom: 2rem;
}
main h1,h2,h3 {
  color: var(--clr-primary);
  font-weight: var(--fw-600);
}
main h1,h2 {
  font-size: 2rem;
}
main p {
  color: var(--clr-secondary);
}
.button-section {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 1.5rem;
}
.button-green,
.button-blue {
  font-weight: var(--fw-600);
  color: white;
  padding: 0.90rem 4.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button-green {
  background-color: var(--bg-button-1);
}
.button-blue {
  background-color: var(--bg-button-2);
}
.button-blue:hover,
.button-green:hover {
  opacity: 80%;
}
.upper-computer-section {
  max-width: 45rem;
  margin-inline: auto;
}
.computer-info-section {
  display: grid;
  gap: 2.5rem;
}
.computer-info-section div {
  display: grid;
  gap: 1rem;
}
.device-image {
  display: grid;
  margin-inline: auto;
}
.middle-section > * {
  display: grid;
  gap: 1rem;
}
.features-section {
  max-width: 78rem;
  margin-inline: auto;
}
.features-section > * {
  display: grid;
  gap: 1rem;
}
.features-section img {
  margin-inline: auto;
}
.logo-section {
  margin-inline: auto;
}
.lower-download-section > * {
  display: grid;
  gap: 1rem;
}
.footer-container {
  display: grid;
  width: 100%;
  gap: 2rem;
}
.footer-logo {
  width: 4rem;
  margin-inline: auto;
}
a {
  color: var(--clr-primary);
  font-weight: var(--fw-400);
  text-decoration: none;
}
a:hover {
  color: var(--bg-button-1);
}
ul {
  list-style-type: none;
}
li {
  margin-block: 2rem;
}
.social-link-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
i {
  font-size: 2rem;
  color: var(--clr-primary);
  cursor: pointer;
}
i:hover {
  color: var(--bg-button-1);
}
@media (min-width: 40em) {
  .footer-container {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .footer-logo {
    margin-block: auto;
  }
  .social-link-section {
    margin-block: auto 2rem;
  }
  .footer {
    display: flex;
    text-align: start;
    gap: 4rem;
  }
  .footer-coulmn {
    flex-basis: 100%;
  }
  .button-section {
    flex-direction: row;
  }
  .computer-section {
    grid-template-columns: 1fr 1fr;
    text-align: start;
  }
  .computer-info-section {
    max-width: 25rem;
    margin-block: auto 5rem;
  }
  .middle-section div:first-child {
    max-width: 45rem;
    margin-inline: auto;
  }
  .features-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 6rem;
  }
  .lower-download-section {
    max-width: 45rem;
    margin-inline: auto;
  }
  .lower-download-section div:nth-child(2) {
    display: flex;
  }
  main {
    margin: 4rem auto 0;
  }
}
